$code_font: monospace;

$no_spacing: 0px;
$sm_spacing: 4px;
$md_spacing: 8px;
$lg_spacing: 16px;
$xl_spacing: 32px;

$reg_max_width: 720px;
$mob_max_width: calc(100% - 12px);

$go_blue: #00acd7;
$ts_blue: #3178c6;
$py_blue: #3074a3;
$py_yellow: #ffd356;
$rb_red: #a91501;

$gradient_tilt: 192deg;
$gradient_tilt2: 172deg;
$gradient_tilt3: 5deg;

@mixin force-min-max-width {
    max-width: $reg_max_width;
    min-width: $reg_max_width;
}

html>body {
    margin: 0px;
    min-height: 100vh;
    background-color: lightslategray;
}

section {
    padding: 32px;

    &>p {
        margin: 0px;
    }
}

header {
    // general display styling

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    background: linear-gradient($gradient_tilt, rgba(47, 79, 79, 0.10), rgb(20, 20, 20)),
    url('../images/packer_blur.jpg'),
    rgb(20, 20, 20);

    // font styling
    font-family: $code_font;
    font-size: 1.5em;
    color: white;

    // full screen styling
    min-height: 100vh;

    & #interests,
    & .me {
        font-weight: bold;
    }

    & #hello {
        background-color: rgba(36, 59, 59, 0.5);
        padding: $md_spacing;
    }

    & #user-icon>img {
        width: 240px;
        height: 240px;
        border-radius: 120px;
        margin-bottom: $xl_spacing;
    }

    & #contact-links {
        margin-top: $xl_spacing;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &>a {
            display: block;
            max-height: 2em;

            margin-right: $lg_spacing;
            text-decoration: none;
            color: white;

            &:hover {
                color: white;
            }

            &:visited {
                color: white;
            }

            &:last-child {
                margin-right: 0px;
            }

            &>i {
                font-size: 2em;
            }
        }
    }
}

.feather {
    width: 48px;
    height: 48px;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

section#introduction {
    background: linear-gradient($gradient_tilt2, rgb(20, 20, 20), rgb(35, 35, 42));
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: monospace;
    font-size: 1.225em;

    &::before {
        content: '[guest@tom.carrio.dev ~] cat /tmp/web_intro.txt';

        max-width: $reg_max_width;
        width: 100%;
        align-self: left;

        color: rgb(120, 180, 230);
        font-weight: bold;
    }

    &>* {
        max-width: $reg_max_width;

        margin-top: $md_spacing;
        margin-bottom: $md_spacing;

        &:last-child {
            margin-bottom: $no_spacing;
        }
    }

    &>code {
        font-weight: bold;
        color: lightblue;
    }

}

section#contributions {
    background-color: rgb(42, 42, 42);
    font-family: $code_font;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>.mono {
        font-family: monospace;
        color: white;
    }

    &>div {
        @include force-min-max-width;

        display: flex;
        justify-content: left;
        align-items: center;

        margin-bottom: $lg_spacing;

        &:last-child {
            margin-bottom: $no_spacing;
        }

        &>a {
            color: white;
            text-decoration: none;

            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;

            &>* {
                margin: 0px;
                flex: 0 0 auto;
            }

            &>.org {
                background-color: darkslategray;
                padding: 0px 0px 0px 0.5em;
            }

            &>.project {
                background-color: darkslategray;
                padding: 0px 0.5em 0px 0px;
            }

            &>.lang {
                background-color: darkslateblue;
                padding: 0px 0.5em;

                &.go {
                    background-color: white;
                    color: $go_blue;
                    font-weight: bold;
                }

                &.ts {
                    background-color: $ts_blue;
                    color: white;
                }

                &.py {
                    background-color: $py_blue;
                    color: $py_yellow;
                    font-weight: bold;
                }

                &.rb {
                    background-color: $rb_red;
                    color: white;
                }

                &.dk {
                    background-color: #56baeb;
                    color: white;
                    font-weight: bold;
                }
            }

            &>.expand {
                display: none;
            }

            // description styling
            &>.desc {
                display: none;
                padding: 0px 0.5em;

                background-color: black;
                color: lightgray;
                flex: 1 1 auto;
                min-width: $reg_max_width;
            }

            &:hover>.desc, &>.desc.hovered {
                display: block;

                &::before,
                &::after {
                    content: "\00a0";
                    font-size: 0.5em;
                    display: block;
                }
            }
        }
    }
}

section#technologies {
    background-color: transparent;
    background: linear-gradient($gradient_tilt3, rgb(64, 69, 80), rgb(84, 106, 93));
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    &>div {
        @include force-min-max-width;

        & .topic {
            font-weight: bold;
        }

        & .entries {
            font-style: italic;
        }

        &.title {
            font-weight: bold;
            font-size: 1.5em;
            margin-bottom: $md_spacing;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 24px;
    }

    header #contact-links {
        position: absolute;
        height: 96px;
        bottom: 96px;

        max-width: unset;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .feather {
        width: 96px;
        height: 96px;
    }

    section#introduction,
    section#technologies {
        font-size: 36px;
    }

    section#introduction {
        &::before {
            max-width: $mob_max_width;
        }

        &>* {
            max-width: $mob_max_width;
        }
    }

    section#contributions {
        font-size: 42px;

        &>div {
            max-width: $mob_max_width;
            min-width: $mob_max_width;

            margin-bottom: $xl_spacing;

            &:last-child {
                margin-bottom: $no_spacing;
            }

            &>a>div {

                &.lang,
                &.org,
                &.stars {
                    display: none
                }

                &.desc {
                    min-width: $mob_max_width;
                }

                &.project {
                    padding: 0px 0.5em !important;
                }

                &.expand {
                    display: block;
                    margin-left: $sm_spacing;

                    .feather {
                        width: 1.15em;
                        height: 1.15em;
                    }
                }
            }
        }

    }
}